.item-details {
  display: flex;
  flex-direction: row;
  padding: 1rem;

  @media screen and (max-width: 767px) {
    margin-top: 1rem;
  };


  @media screen and (max-width: 450px) {
    flex-direction: column;
  }

};

.item-details .item-image {
  width: 150px;
  height: 150px;
  border-radius: 10px;
  margin-right: 1rem;
};

.item-details .list-group-item {
  padding: .25rem;
};

.item-details .list-group-item .term{
  margin-right: .5rem;
};

.card-body {
  padding: 0 0 0 0px;
}

h4 {
  margin: 0;
}
